<div class="card-header mb-2 well">
  <p>
    (DEMO) NGX-BOOTSTRAP ALERT<br/>
    Full demo here <strong><a href="https://valor-software.com/ngx-bootstrap">https://valor-software.com/ngx-bootstrap</a></strong>
  </p> 
</div>

<div style="position: relative">
  <demo-alert-timeout>Loading ngx-bootstrap...</demo-alert-timeout>
</div>


<br/>

<app-vistimeline></app-vistimeline>

<br/>

<app-vistimeline-groups></app-vistimeline-groups>

<br/>
<hr>
<p>(DEMO) NGX-BOOTSTRAP POPOVER: Hover  button to show, mouseout to hide message.</p>
<app-popover></app-popover>

<hr/>

<br/>
<p>(DEMO) vis.js library - visjs.org/docs/network></p>
<app-vis></app-vis>
